<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>157b108f1f2d275c12e9092b4b2bcdd9</string>
	<key>ACCESS_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxNTdiMTA4ZjFmMmQyNzVjMTJlOTA5MmI0YjJiY2RkOSIsIm5iZiI6MTU2OTk5MjA4Ny44OTkwMDAyLCJzdWIiOiI1ZDk0MmQ5N2EwOTdkYzAwMmEyM2FkN2EiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.tov9rMT8DoboOU_ombLK1CcZ6bUMqSG8Yd-sHmytfes</string>
</dict>
</plist>
